<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="text/javascript" defer src="/javascript/index.js"></script>
        <title>Weather Application</title>
        <meta name="description" content="Welcome to Your Weather App, It is a weather application that shows you real time weather of any city you want !">

    </head>
    <body>
        <%- include('../partials/weather')  %>
    </body>
</html>
